@{
    ViewData["Title"] = "Home Page";
}

<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://picsum.photos/536/354" alt="Random image" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="https://picsum.photos/536/354" alt="Random image" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="https://picsum.photos/536/354" alt="Random image" class="d-block w-100">
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>

<div class="p-5">
    <h1 class="display-4 text-center">Welcome, here is some random generated text!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ornare, quam nec egestas varius, metus lectus tristique massa, a luctus quam nibh convallis erat. Ut sodales arcu sagittis mauris posuere, a pellentesque purus rutrum. Quisque id tortor velit. Aenean vel pretium ligula. Aliquam at tellus ac mi sodales fringilla. Aenean ornare augue elit, vitae vestibulum quam placerat ut. Nulla congue nec mi egestas semper. Sed massa nunc, eleifend eget eros et, auctor dignissim ligula. Quisque porta placerat risus sed fermentum. Vestibulum feugiat leo eu leo auctor sollicitudin. Pellentesque eu erat metus. Nulla scelerisque dictum leo, quis facilisis nunc elementum at. Ut ultrices interdum convallis. Vivamus at nisl augue. Nulla facilisi.</p>
    <p>Pellentesque sit amet vehicula turpis, in ornare est. Sed pharetra arcu ligula, sit amet molestie lacus placerat sit amet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi faucibus ipsum ut enim tempus rutrum. Maecenas consectetur, libero id tincidunt ultricies, eros odio pretium orci, non dictum ex tortor vel tellus. Phasellus vel congue ipsum. Aliquam vel neque dui. In feugiat ligula eu nisl maximus fringilla. Praesent viverra dictum mi sit amet semper. Praesent dapibus, leo non hendrerit imperdiet, arcu purus cursus odio, ac mollis dui leo vel mauris. Cras vel ipsum placerat, condimentum libero et, imperdiet nunc. Aliquam erat volutpat. Proin suscipit tortor placerat, maximus justo a, aliquet lacus.</p>
    <p>Donec fermentum pharetra aliquam. Nam faucibus ligula at leo placerat sollicitudin. Fusce ultrices sem quam, vitae ullamcorper felis rhoncus et. Mauris vehicula viverra augue, vel fermentum lectus pretium eget. Nam ac ullamcorper sem. Nullam viverra, justo sed semper bibendum, odio eros fermentum metus, in commodo dui elit ac felis. Fusce venenatis dolor et lacus suscipit, non laoreet ligula ultrices.</p>
    <p>Integer ultricies vulputate tortor et imperdiet. Sed non odio at risus tristique imperdiet sed at libero. Aenean pharetra ex sed mi dapibus, nec sodales elit tincidunt. Aenean egestas augue at ipsum vestibulum, tincidunt congue mi tristique. Duis id pulvinar ex. Pellentesque imperdiet porta mi vel scelerisque. Vivamus aliquam quam non neque dapibus, sit amet pellentesque ipsum mattis. Integer ultrices dapibus consectetur. Praesent lectus mauris, commodo ornare urna sed, mattis consequat diam. Duis id velit ac dolor feugiat scelerisque eget eu urna.</p>
    <p>Proin nec urna lectus. Donec imperdiet lorem nisl, id varius felis tincidunt et. Vivamus venenatis sed sapien varius consectetur. Sed nibh libero, sollicitudin eu porta ac, eleifend eu sapien. Praesent sed tellus a nunc iaculis laoreet. Donec lacus arcu, commodo nec efficitur at, lacinia vitae lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In feugiat rutrum risus eget viverra. Vivamus ullamcorper, ante quis rutrum suscipit, urna purus ornare augue, a cursus augue diam sit amet ante. Curabitur consequat justo sit amet libero aliquam egestas sit amet vel risus. Mauris suscipit pharetra tortor, ac pellentesque elit tristique sit amet. Integer eget est elit. Quisque sodales arcu ac ex venenatis ultrices.</p>
</div>


